.userInfoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: whitesmoke;
  opacity: 0.8;
  height: 60vh;

  width: 100%;
}

ul.usersList {
  list-style-image: url("../../icon/onlineIcon.png");
  overflow: auto;
}

li {
  display: list-item;
  left: 1em;
  padding-right: 1em;
  color: cornflowerblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.InnerContainer {
  flex: 1;
  display: flex;
  /* align-items: center; */

  margin-left: 5%;
  color: white;
  width: 100%;
  height: 100%;
}

.onlineIcon {
  margin-right: 5%;
}
